assets
bin
build
*.class
classes
.classpath
.DS_Store
gen
gen-external-apklibs
.gradle
gradle.properties
.idea
*.iml
*.keystore
lib
local.properties
out
pom.xml.*
.project
project.properties
release.properties
.settings
target
