language: android
jdk: oraclejdk7
android:
  components:
    - android-19
    - build-tools-19.1.0
    - extra-android-support
  licenses:
    - android-sdk-license-5be876d5

before_script:
 # Create and start emulator
 - echo no | android create avd --force -n test -t android-19 --abi armeabi-v7a
 - emulator -avd test -no-skin -no-audio -no-window &
 - adb wait-for-device
 - adb shell input keyevent 82 &


script: ./gradlew connectedAndroidTest
